h1 {
    text-align: center;
}

body {
    background-color: aliceblue;
    background: linear-gradient(45deg, #E0FFFF 0%, #7FFFD4 55%, #40E0D0 100%);
    text-align: center;
}

hr {
    border-top: 2px dashed black;
    border-radius: 1px;
}